.boot_image {
    border-radius: 4px;
    transition: all .4s ease-in-out;
}

.boot_image:hover {
    filter: contrast(84%);
    cursor: pointer;
}

.price {
    width: 50%;
    text-align: center;
    bottom: 17%;
}

.line {
    width: 100%;
    border: 1px solid;
}


.card_title {
    font-weight:500;
}

.cardInfoFavourite {
    position: absolute;
    height: 40px;
    opacity: 0;
    width: 40px;
    top: calc(2% + 2px);
    left: calc(3% + 2px);
    transition: opacity .4s ease-out;
}

.boot_image:hover > :last-child {
    opacity: 1;
}

.circle {
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    right: 0;
    transition: 0.8s;
}

.boot:hover > .ad > .circle {
    opacity: 1;
    display: block;
}

.search_form {
    width: 25%;
}

.fade {
    opacity: 1!important;
}

@media screen and(max-width: 1000px) {
    .search_form {
        width: 50%;
    }
}

.prices {
    width: 63%;
}

.boot {
    flex-basis: 12em;
    margin-left: 4em;
    border-radius: 11px;
    display: block;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.fullPrice {
    color: #6c757d;
    font-size: 14px;
    font-weight: 600;
}

.max-300 {
    max-width: 290px;
}

.card_img {
    border-radius: 15px;
}

.boot:hover {
    transform: translateY(-6px);
}

.advert_image {
    background-image: url("https://penza-online.ru/upload/iblock/faf/111111.jpg");
    background-size: cover;
    height: 35em;
    border-radius: 25px;
}

.mySlides {
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    margin: auto;
    background-image: url("https://cdn.sanity.io/images/c1chvb1i/production/263bfff40f54289195d208c9dec2a3d1b48adfc8-1100x735.jpg/CRISP-BLN-store.jpg");
    background-position-x: center;
    background-position-y: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.searchInput {
    all: unset;
}